package ${packageName}.${lowClassName}.service;

import com.platform.core.service.BaseService;
import ${packageName}.domain.${upClassName};

${classTitle}
public interface ${upClassName}Service extends BaseService<${upClassName}> {
	
}