HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
**/src/test/**

### IntelliJ IDEA ###
.idea
*.iml

code/
common/src/main/resources/
common/src/test/
core/src/main/resources/
generator/src/main/resources/
core/src/test/
generator/src/test/
web/src/test/
