<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.web.dao.SysUserMapper">

    <resultMap id="sysUser_result_all" type="SysUser">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="baseUserId" column="base_user_id" jdbcType="BIGINT"/>
        <result property="headImg" column="head_img" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="BIGINT"/>
        <result property="modifyDate" column="modify_date" jdbcType="BIGINT"/>
        <result property="delFlag" column="del_flag" jdbcType="BIT"/>
        <!--property: 指的是属性的值, javaType：指的是属性的类型-->
        <association property="baseUserInfo" javaType="BaseUserInfo">
            <id property="id" column="id"/>
            <result property="username" column="username"></result>
            <result property="status" column="status"></result>
            <result property="type" column="type"></result>
        </association>
    </resultMap>

    <sql id="sysUser_column">
        sys_user.id,
        sys_user.base_user_id,
        sys_user.head_img,
        sys_user.gender,
        sys_user.email,
        sys_user.create_date,
        sys_user.modify_date,
        sys_user.del_flag
    </sql>

    <sql id="sysUser_query_param">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id!=null">
                AND sys_user.id = #{id,jdbcType=BIGINT}
            </if>
            <if test="ids!=null">
                AND sys_user.id IN
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="baseUserId!=null">
                AND sys_user.base_user_id = #{baseUserId,jdbcType=BIGINT}
            </if>
            <if test="headImg!=null and ''!=headImg">
                AND sys_user.head_img = #{headImg,jdbcType=VARCHAR}
            </if>
            <if test="gender!=null and ''!=gender">
                AND sys_user.gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="email!=null and ''!=email">
                AND sys_user.email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="createDate!=null">
                AND sys_user.create_date = #{createDate，,jdbcType=BIGINT}
            </if>
            <if test="modifyDate!=null">
                AND sys_user.modify_date = #{modifyDate,jdbcType=BIGINT}
            </if>
            <if test="delFlag!=null">
                AND sys_user.del_flag = #{delFlag,jdbcType=BIT}
            </if>
        </trim>
    </sql>

    <!-- 根据编号查询 -->
    <select id="get" resultMap="sysUser_result_all">
        SELECT
        <include refid="sysUser_column"/>,
        bu.status,bu.username
        FROM sys_user sys_user
        LEFT JOIN base_user_info bu
        ON bu.id = sys_user.base_user_id
        WHERE sys_user.id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 插入-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="baseUserId!=null">
                base_user_id,
            </if>
            <if test="headImg!=null and ''!=headImg">
                head_img,
            </if>
            <if test="gender!=null and ''!=gender">
                gender,
            </if>
            <if test="email!=null and ''!=email">
                email,
            </if>
            <if test="createDate!=null">
                create_date,
            </if>
            <if test="modifyDate!=null">
                modify_date,
            </if>
            <if test="delFlag!=null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="baseUserId!=null">
                #{baseUserId,jdbcType=BIGINT},
            </if>
            <if test="headImg!=null and ''!=headImg">
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="gender!=null and ''!=gender">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="email!=null and ''!=email">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createDate!=null">
                #{createDate,jdbcType=BIGINT},
            </if>
            <if test="modifyDate!=null">
                #{modifyDate,jdbcType=BIGINT},
            </if>
            <if test="delFlag!=null">
                #{delFlag,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <!-- 修改 -->
    <update id="update">
        UPDATE sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="baseUserId!=null">
                sys_user.base_user_id = #{baseUserId,jdbcType=BIGINT},
            </if>
            <if test="headImg!=null and ''!=headImg">
                sys_user.head_img = #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="gender!=null and ''!=gender">
                sys_user.gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="email!=null and ''!=email">
                sys_user.email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="createDate!=null">
                sys_user.create_date = #{createDate,jdbcType=BIGINT},
            </if>
            <if test="modifyDate!=null">
                sys_user.modify_date = #{modifyDate,jdbcType=BIGINT},
            </if>
            <if test="delFlag!=null">
                sys_user.del_flag = #{delFlag,jdbcType=BIT},
            </if>
        </trim>
        WHERE sys_user.id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 删除-->
    <delete id="delete">
        DELETE
        FROM sys_user
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 批量删除-->
    <delete id="batchDelete">
        DELETE FROM sys_user
        WHERE id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

    <!-- 查询列表-->
    <select id="findList" resultType="SysUser" parameterType="java.util.HashMap">
        SELECT
        <include refid="sysUser_column"/>
        FROM sys_user
        <include refid="sysUser_query_param"/>
    </select>


    <!-- 根据给定的ids查询列表-->
    <select id="findByIds" resultType="SysUser">
        SELECT
        <include refid="sysUser_column"/>
        FROM sys_user
        WHERE id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <!-- 查询单个实例-->
    <select id="findOne" resultType="SysUser" parameterType="java.util.HashMap">
        SELECT
        <include refid="sysUser_column"/>
        FROM sys_user
        <include refid="sysUser_query_param"/>
    </select>

    <!-- 统计个数-->
    <select id="countNums" resultType="long" parameterType="java.util.HashMap">
        SELECT count(1)
        FROM sys_user
        <include refid="sysUser_query_param"/>
    </select>

    <!--条件分页查询-->
    <select id="findPages" resultMap="sysUser_result_all" parameterType="java.util.HashMap">
        SELECT
        <include refid="sysUser_column"/>,
        base_user.username,
        base_user.type,
        base_user.status
        FROM sys_user sys_user
        LEFT JOIN base_user_info base_user
        ON sys_user.base_user_id = base_user.id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="baseUserId!=null">
                AND sys_user.base_user_id like concat('%',#{baseUserId,jdbcType=BIGINT},'%')
            </if>
            <if test="gender!=null and ''!=gender">
                AND sys_user.gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="delFlag!=null">
                AND sys_user.del_flag = #{delFlag,jdbcType=BIT}
            </if>
        </trim>
    </select>

    <!--根据baseUserInfoId查询系统用户-->
    <select id="findByBaseUserInfoId" resultType="SysUser" parameterType="String">
        SELECT
        <include refid="sysUser_column"/>
        FROM sys_user
        WHERE base_user_id = #{baseUserId,jdbcType=VARCHAR}
    </select>
</mapper>